.al_section1 {
  width: 100%;
  height: 100vh;
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.al_section1 h1 {
  color: #fcf6f5ff;
  width: 100%;
  max-width: 400px;
  font-size: 3.5em;
  line-height: 2em;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
}

.al_section1 h1 span {
  display: block;
}

.al_section1 h1 span:last-child {
  text-align: right;
}

.al_section1 .line {
  height: 2px;
  background: #8b0000;
  position: absolute;
}

.al_section1 .line1 {
  max-width: 250px;
  top: 20%;
  right: 20%;
  animation: width 1s 1 forwards;
}

.al_section1 .line2 {
  width: 2px;
  max-height: 150px;
  top: 10%;
  left: 14%;
  animation: height 4s 1 forwards;
}

.al_section1 .line3 {
  height: 2px;
  max-width: 350px;
  top: 12%;
  left: 13%;
  animation: width 4s 1 forwards;
}

.al_section1 .line4 {
  max-width: 150px;
  bottom: 36%;
  left: 8%;
  animation: width 4s 1 forwards;
}

.al_section1 .line5 {
  max-height: 350px;
  top: 17%;
  right: 24%;
  animation: height 2s 1 forwards;
  width: 2px;
}

.transitionLine {
  height: 0px;
  width: 1px;
  border-top: 2px solid #8b0000;
  border-right: 2px solid #8b0000;
  position: absolute;
  animation: increase 2s;
  animation-fill-mode: forwards;
  bottom: 10%;
  left: 38%;
}

.transitionLine:after {
  content: "";
  display: block;
  height: 0px;
  width: 1px;
  border-top: 2px solid #8b0000;
  border-right: 2px solid #8b0000;
  animation: increase2 2s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 100%;
  bottom: 0;
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes increase {
  30% {
    width: 300px;
    height: 0;
  }

  31% {
    width: 300px;
    height: 1px;
  }

  60% {
    height: 100px;
    width: 300px;
  }

  100% {
    height: 100px;
    width: 300px;
  }
}

@keyframes increase2 {
  60% {
    height: 0;
    width: 0;
  }

  100% {
    height: 0;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .al_section1 h1 {
    font-size: 3em;
  }

  .al_section1 .line1 {
    max-width: 100px;
  }

  .al_section1 .line2 {
    max-height: 75px;
  }

  .al_section1 .line3 {
    max-width: 150px;
  }

  .al_section1 .line4 {
    max-width: 75px;
  }

  .al_section1 .line5 {
    max-height: 150px;
  }
}
