.al_section5 p {
  line-height: 2em;
}

.al_section5 a {
  color: #3b3b3b;
  text-decoration: none;
}

.al_section5 a:hover,
.al_section5 a:focus {
  color: #8b0000;
}

.al_section5 .contattiContainer {
  display: flex;
}

.al_section5 .contatti {
  flex: 1;
}

.al_section5 .contatti:first-child {
  text-align: center;
}

.al_section5 .social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 40px;
  max-width: 330px;
  margin: auto;
}

.al_section5 .orari p,
.al_section5 .cell p {
  margin-bottom: 0em;
}

.al_section5 .orari {
  margin: 0 0 1em;
}

@media (max-width: 768px) {
  .al_section5 .contattiContainer {
    flex-direction: column;
  }

  .al_section5 .contatti {
    flex: unset;
  }

  .al_section5 .contatti:last-child {
    height: 550px !important;
  }
}
