#scrollTopBtn {
  opacity: 0;
  position: fixed;
  bottom: 15px;
  width: 0;
  height: 0;
  right: 15px;
  z-index: 99;
  font-size: 1em;
  border: none;
  box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
  outline: 0;
}

#scrollTopBtn.active {
  width: 50px;
  height: 50px;
  opacity: 0.8 !important;
}

#scrollTopBtn.active:hover,
#scrollTopBtn.active:focus {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  #scrollTopBtn.active {
    width: 40px;
    height: 40px;
  }
}
