@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
  letter-spacing: 0.25px;
  font-weight: 16px;
}

section {
  padding: 15px;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #8b0000;
  text-transform: uppercase;
}

.al_section2,
.al_section3,
.al_section4,
.al_section5 {
  margin: 30px 0 50px;
}

.al_section3 {
  overflow: unset;
}
