#contactForm {
  max-width: 750px;
  width: 100%;
  margin: 1em auto;
}

#contactForm div:not(.checkbox) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-content: space-between;
}

#contactForm p {
  font-size: 0.6em;
  margin-top: 140px;
}

label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
  margin: 1em 0;
}

label:nth-child(3) {
  height: 170px;
}

input,
textarea {
  position: absolute;
  top: 15px;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #3b3b3b;
  transition: border-color 0.2s ease-in-out;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 40px;
}

.placeholder {
  position: absolute;
  display: block;
  top: 22px;
  z-index: 2;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  cursor: text;
}

input:focus,
input:valid,
textarea:focus,
textarea:valid {
  border-bottom: 2px solid #8b0000;
}

input:focus + .placeholder,
input:valid + .placeholder,
textarea:focus + .placeholder,
textarea:valid + .placeholder {
  top: -3px;
  cursor: inherit;
  font-size: 14px;
  color: #8b0000;
}

input[type="submit"] {
  position: relative;
  background-color: #8b0000;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #8b0000;
  border-bottom: #8b0000;
  max-width: 350px;
  width: 100%;
  margin: 1em auto 0;
  display: block;
}

input[type="submit"]:hover {
  box-shadow: 0 10px 14px -7px #8b0000;
}

textarea {
  min-height: 30px;
  padding: 8px 0;
  height: 150px;
}
input {
  height: 30px;
}

div.checkbox label {
  cursor: pointer;
}

div.checkbox span {
  font-size: 12px;
  line-height: 16px;
}

div.checkbox span:first-child {
  margin-left: 30px;
}

div.checkbox a {
  font-size: 12px;
  line-height: 16px;
  color: #8b0000;
  margin: 0 5px;
}

div.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

div.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #3b3b3b;
}

div.checkbox input:checked ~ .checkmark {
  background-color: #3b3b3b;
}

div.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

div.checkbox input:checked ~ .checkmark:after {
  display: block;
}

div.checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #8b0000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
