.al_section4 ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.al_section4 li::before {
  content: "\2022";
  color: #8b0000;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
