article {
  box-shadow: 0 0px 6px rgba(139, 0, 0, 0.25), 0 8px 10px rgba(139, 0, 0, 0.22);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

article:hover {
  box-shadow: 0 10px 17px rgba(139, 0, 0, 0.25),
    0 8px 10px rgba(139, 0, 0, 0.22);
}

article h3 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
  padding: 15px 0;
}

article img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

article p {
  margin: 1em;
}

article p span {
  font-weight: 500;
  font-style: italic;
  color: #8b0000;
}

article a {
  color: #8b0000;
}

.cardProdotto {
  margin: 5em auto 0;
  padding: 15px;
  max-width: 400px;
}
